// If you want to override variables do it here
@import 'variables';

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import '@coreui/coreui/scss/coreui';

@import 'layout';

// If you want to add custom CSS you can put it here.
@import 'custom';

* {
  ::-webkit-scrollbar {
    display: none;
  }
  a {
    color: #00bfcc;
    text-decoration-line: none;
  }
  input {
    border: 1px solid #00bfcc;
    padding-block-start: 5px;
  }
}

.custom_input:focus {
}
.custom_input {
  border: 1px solid #00bfcc;
  border-radius: 0px;
}
.custom_theme_button {
  border-radius: 2px;
  background-color: #00bfcc;
  color: white;
  margin-left: 4px;
  height: 100%;
  border: 0px;
}
.custom_theme_button:hover {
  background-color: #00beccc2;
  color: white;
}

.custom_grey_button {
  border: 0px;
  color: white;
  border-radius: 2px;
  background-color: gray;
}
.custom_grey_button:hover {
  background-color: rgba(128, 128, 128, 0.849);
  color: white;
}

.custom_search_button {
  border-radius: 0px;
  border-left: 0px;
}
